<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace GSO</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light mb-3">
            <div class="container-md">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='logo2.jpg') }}">
                </a>
    
                <div>
                    {% block header %}{% endblock %}
                </div>
            </div>
        </nav>
    </header>

    <section class="container mb-4 mt-4">
        {% block content %}{% endblock %}
    </section>

    <footer class="bg-dark text-light mt-5 absolute-bottom">
        <div class="container py-3">
            <div class="row mb-4">
                <div class="col text-center">
                    <a class="text-decoration-none text-white" href="https://www.gso-koeln.de/">Homepage</a>
                </div>
                <div class="col text-center">
                    <a class="text-decoration-none text-white" href="{{ url_for('public.policy') }}">Datenschutzerklärung</a>
                </div>
                <div class="col text-center">
                    <a class="text-decoration-none text-white" href="https://www.gso-koeln.de/impressum/">Impressum</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 text-center">
                    <h5><b>Kontakt</b></h5>
                    <p>Georg-Simon-Ohm-Berufskolleg<br>Westerwaldstrasse 92, 51105 Köln</p>
                    <p>Telefon: 0221 83913-0<br>Telefax: 0221 83913-28</p>
                    <p>Email: <a href="mailto:buero@gso.schule.koeln" class="text-light">buero@gso.schule.koeln</a></p>
                </div>
                <div class="col-md-6 text-center">
                    <h5><b>Öffnungszeiten</b></h5>
                    <p>
                        Montag – Donnerstag 08.00-15.00 Uhr<br>
                        Freitag 08.00-11.00 Uhr
                    </p>
                </div>
            </div>
            
            <hr class="bg-light">
            
            <div class="row">
                <div class="col-md-6 text-center">
                    <h5><b>Ansprechpartner</b></h5>
                    <p>Schulleiter: OStD Bertram Wolf<br>Stellv. Schulleiter: StD Volker Stern</p>
                </div>
                <div class="col-md-6 text-center">
                    <h5><b>Sekretariat</b></h5>
                    <p>Frau Paul<br>Frau Meier<br>Frau Goepel</p>
                </div>
            </div>
        </div>
      </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
</body>
</html>