{% extends 'base.html' %}

{% block content %}
<div>
    <h1 class="text-center mb-4">Marketplace GSO</h1>

    <div class="d-flex justify-content-center">
        <div class="d-flex flex-column w-25">
            <a class="btn btn-primary mb-3" href="{{ url_for('auth.guestLogin')}}">Als Gast anmelden</a>
            <a class="btn btn-primary mb-3" href="{{ url_for('auth.login')}}">Anmelden</a>
            <a class="btn btn-primary mb-3" href="{{ url_for('auth.register')}}">Registrieren</a>
        </div>
    </div>
</div>
{% endblock %}