{% extends 'base.html' %} {% block header %}
<h1>edit</h1>
{% endblock %} {% block content %}
<div class="d-flex justify-content-center">
  <form action="{{ url_for('auth.edit') }}" method="post" id="editFrm">
    <div class="mb-3">
      <label for="firmenName" class="form-label">Firmenname</label>
      <input
        type="text"
        class="form-control"
        id="firmenName"
        placeholder="Firmenname"
        name="companyName"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">E-Mail</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="telephone" class="form-label">Telefon</label>
      <input
        type="text"
        class="form-control"
        id="telephone"
        placeholder="+49 ..."
        name="telephone"
        required
      />
    </div>
    <div class="mb-3">
      <label for="ansprechPartner" class="form-label">Ansprechpartner</label>
      <input
        type="text"
        class="form-control"
        id="ansprechPartner"
        placeholder="Max Mustermann"
        name="contact"
        required
      />
    </div>

    <button class="btn btn-primary w-100" id="editBtn">Speichern</button>
  </form>

  <div
    class="modal fade"
    id="editModal"
    tabindex="-1"
    aria-labelledby="editModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editModalLabel">Speichern</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <h6>Bitte überprüfen Sie Ihre Daten:</h6>
          <ul>
            <li>Name: <span id="lblFirmenName"></span></li>
            <li>EMail: <span id="lblEmail"></span></li>
            <li>Telefon: <span id="lblTelephone"></span></li>
            <li>Ansprechpartner: <span id="lblAnsprechPartner"></span></li>
          </ul>

          <i>Info: Sie können Ihre Informationen später noch ändern</i>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Schließen
          </button>
          <button type="button" class="btn btn-primary" id="editFinal">
            Speichern
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script>
  const edit = document.querySelector("#editBtn");
  const form = document.querySelector("#editFrm");
  const editFinal = document.querySelector("#editFinal");

  const mdl = new bootstrap.Modal(document.getElementById("editModal"), {
    keyboard: false,
  });

  edit.addEventListener("click", (e) => {
    e.preventDefault();
    e.stopPropagation();

    const firmenName = document.getElementById("firmenName").value;
    const email = document.getElementById("email").value;
    const telephone = document.getElementById("telephone").value;
    const ansprechPartner = document.getElementById("ansprechPartner").value;

    const lblFirmenName = document.getElementById("lblFirmenName");
    const lblEmail = document.getElementById("lblEmail");
    const lblTelephone = document.getElementById("lblTelephone");
    const lblAnsprechPartner = document.getElementById("lblAnsprechPartner");

    const error = document.getElementById("error");

    if (
      firmenName == "" ||
      email == "" ||
      telephone == "" ||
      ansprechPartner == ""
    )
      return;

    lblFirmenName.innerHTML = firmenName;
    lblEmail.innerHTML = email;
    lblTelephone.innerHTML = telephone;
    lblAnsprechPartner.innerHTML = ansprechPartner;

    mdl.show();
  });

  editFinal.addEventListener("click", (e) => {
    e.preventDefault();
    e.stopPropagation();

    form.submit();
    mdl.hide();
  });
</script>
{% endblock %}
