{% extends 'base.html' %}

{% block header %}
<h1>Login</h1>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <form action="{{ url_for('auth.login') }}" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail</label>
            <input type="email" class="form-control" id="email" placeholder="E-Mail" name="email" required>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Passwort</label>
            <input type="password" class="form-control" id="password" placeholder="Passwort" name="password" required>
        </div>

        <input class="btn btn-primary w-100" type="submit" value="Login">

        <a class="btn-link text-center mt-4" href="{{ url_for('auth.register') }}">Stattdessen Registieren</a>

        {% if error %}
            <b style="color: red">Benutzername oder Passwort falsch!</b>
        {% endif %}
    </form>
</div>
{% endblock %}