{% extends 'base.html' %}

{% block header %}
<h1>Login</h1>
{% endblock %}

{% block content %}
<div class="container w-25 text-center">
    <h2 class="mt-5 mb-5">Anmeldung</h2>
    <div class="row">
        <form action="{{ url_for('auth.login') }}" method="post">
            <input class="m-2" name="email" type="text" id="email" placeholder="E-Mail">
            <input class="m-2" name="password" type="password" id="password" placeholder="Passwort">
            <input class="m-2 btn btn-primary" type="submit" value="Login">
        </form>
    </div>
</div>
{% endblock %}