{% extends 'base.html' %}

{% block header %}
<h1>Bestätigung der Daten</h1>
{% endblock %}

{% block content %}
<!-- Bestaetigungs seite fuer Anmeldeanfragen von eingeloggten Usern -->
<div class="d-flex justify-content-center">
    <div class="w-50">
        <form action="{{ url_for('internal.request_confirm_registered') }}" method="post" id="registerFrm">
            <div class="row mt-4 mb-4">
                <div class="col-md-6">
                    <label for="company" class="form-label mt-2">Firma:</label>
                    <li>{{ company }}</li>

                    <label for="mail" class="form-label mt-2">EMail:</label>
                    <li>{{ mail }}</li>

                    <label for="telephone" class="form-label mt-2">Telefon:</label>
                    <li>{{ telephone }}</li>

                    <label for="remarks" class="form-label mt-2">Anmerkungen:</label>
                    <li>{{ remarks }}</li>
                </div>
                <div class="col-md-6">
                    <label for="contact" class="form-label mt-2">Ansprechpartner:</label>
                    <li>{{ contact }}</li>

                    <label for="day" class="form-label mt-2">Tag:</label>
                    <li>{{ day }}</li>

                    <label for="tables" class="form-label mt-2">Anzahl Tische:</label>
                    <li>{{ tables }}</li>

                    <label for="chairs" class="form-label mt-2">Anzahl Stühle:</label>
                    <li>{{ chairs }}</li>

                    {% if presentationTopic %}
                    <label for="chairs" class="form-label mt-2">Präsentationsthema:</label>
                    <li>{{ presentationTopic }}</li>

                    <label for="chairs" class="form-label mt-2">Präsentationslänge:</label>

                    <li> {{ presentationDuration }}</li>
                    {% endif %}
                </div>
            </div>

            <input type="hidden" value="{{ company }}" name="company" />
            <input type="hidden" value="{{ mail }}" name="email" />
            <input type="hidden" value="{{ telephone }}" name="telephone" />
            <input type="hidden" value="{{ remarks }}" name="remarks" />
            <input type="hidden" value="{{ contact }}" name="contact" />
            <input type="hidden" value="{{ day }}" name="day" />
            <input type="hidden" value="{{ tables }}" name="tables" />
            <input type="hidden" value="{{ chairs }}" name="chairs" />
            <input type="hidden" value="{{ presentationDuration }}" name="presentationDuration" />
            <input type="hidden" value="{{ presentationTopic }}" name="presentationTopic" />

            <div class="row">
                <a class="btn btn-secondary col m-1" href="{{ url_for('internal.request_edit') }}">Zurück</a>
                <input class="btn btn-primary col m-1" type="submit" value="Anmelden">
            </div>
        </form>
    </div>
</div>
{% endblock %}