{% extends 'base.html' %}

{% block header %}
<h1>Gast</h1>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
        <h3>An welchen Tagen möchten Sie mit einem Informationsstand teilnehmen</h3>
        <div class="mb-3">
            <input type="checkbox" id="day1" name="day1" required>
            <label for="day1" class="form-label">Tag</label>
        
            <input type="checkbox" id="day2" name="day2" required>
            <label for="day2" class="form-label"><b>Tag 1:</b><br>Freitag, <b>24.01.2025, 11:00-16:00 Uhr</b><br>(Aufbau zwischen 09:00 und 10:30 Uhr)</label>
        </div>
        
        <div class="mb-3">
            <p><b>Standinformationen</b> (Westerwaldstr. 92, 51105 Köln, Sporthalle)</p>
            <p>- Abmessungen der Standfläche: ca. 3m x 3m</p>
            <p>- Stromanschluss (z.B. Beamer/Laptop) vorhanden. Darüber hinausgehenden Leistungsbedarf bitte unten im Freitextfeld <b>Bemerkungen</b> angeben.</p>
            <p>- WLAN-Zugang vorhandenm</p>
            <p><b>Bemerkungen</b> (ggf. Wünsche, besondere Standaufbauten, etc.):</p>
            <textarea rows="4" cols="50" id="remarks">AAAAAAAAAA</textarea>
        </div>

        <div class="mb-3">
            <label for="tables" class="form-label">Anzahl benötigter Tische</label>
            <input type="number" class="form-control" id="tables" name="tables">
        </div>
        
        <div class="mb-3">
            <label for="chairs" class="form-label">Anzahl benötigter Stühle</label>
            <input type="number" class="form-control" id="chairs" name="chairs">
        </div>

        <div class="mb-3">
            <label for="hasPresentation" class="form-label">Ich möchte eine Präsentation halten</label>
            <input type="checkbox" name="hasPresentation" id="hasPresentation" onchange="hasPresentationToggle()">
        </div>

        <div id="presentation" style="display: none">
            <div class="mb-3">
                <label for="presentation" class="form-label">Präsentationsthema</label>
                <input type="text" class="form-control" id="presentation" name="presentationTopic">
            </div>    
            <div class="mb-3">
                <label for="presentationDuration" class="form-label">Präsentationslänge (Minuten)</label>
                <input type="number" class="form-control" id="presentationDuration" name="presentationDuration">
            </div>
        </div>

        <button class="btn btn-primary w-100" id="loginBtn">Anmelden</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    function hasPresentationToggle() {
        const hasPres = document.getElementById("hasPresentation")
        const presentation = document.getElementById("presentation")

        presentation.style.display = hasPres.checked ? "block" : "none";
    }
</script>
{% endblock %}